.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.logo {
  aspect-ratio: 1/1;
  height: 50px;
}

li {
  color: purple;
}

.anch span {
  margin-right: 1rem;
  padding: 0.25rem;
}

.anch span {
  font-weight: 500;
}

.anch span:hover {
  color: rgb(53, 0, 128);
  cursor: pointer;
}

.App-link {
  color: #61dafb;
}

.photo {
  z-index: 1;
  background-image: url("./photo3.webp");

  height: 700px;
  width: 100%;
  aspect-ratio: 1/2;
  margin-right: 10px;
}

.nav {
  padding-bottom: -10px;
  margin: 2rem 1rem -0.1rem 1rem;
  box-shadow: -0.25rem 0.2rem 0.2rem rgba(31, 28, 28, 0.484);
  z-index: 10;
  height: 4rem;
}

.t1 {
  text-align: justify;
  font-size: 70px;
  color: white;
  font-weight: 500;
}

.t2 {
  margin-top: 80px;
  width: 600px;
  text-align: justify;
  font-size: 30px;
  color: white;
  font-weight: 500;
}

.t3 {
  padding: 10px;
  display: flex;
  margin-top: 50px;
  font-size: 40px;
  color: white;
  font-weight: 400;
  width: fit-content;
  background-color: #5f2787;
  border-radius: 15px;
}

.social {
  margin: 0rem 3rem 0rem 5rem;
}
.social img {
  height: 5rem;
}

.social div {
  margin-right: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.social-container {
  height: 42vh;
  width: 50vh;
  background-color: pink;
  border-radius: 100%;
  margin-top: -3rem;
}

.social label {
  padding-top: 1rem;
  font-size: 2.2rem;
}

.profile img {
  border-radius: 100%;
  height: 22vh;
  width: 23vh;
  margin-bottom: 1rem;
}

.profile div {
  background-color: pink;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  border-radius: 1rem;
  width: 250px;
  height: 250px;
}

.profile {
  display: flex;
  gap: 8rem;
  flex-direction: row;
  justify-content: center;
}

.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.profile div:nth-child(2) {
  margin: -3rem;
}

.photo2 {
  z-index: 1;
  background-image: url("./photo3.webp");

  height: 700px;
  width: 100%;
  margin-right: 10px;
}

.tn1 {
  text-align: justify;
  font-size: 40px;
  color: white;
  font-weight: 500;
}

.tn2 {
  margin-top: 50px;
  width: 600px;
  text-align: justify;
  font-size: 20px;
  color: white;
  font-weight: 500;
}

.tn3 {
  padding: 10px;
  display: flex;
  margin-top: 40px;
  font-size: 20px;
  color: white;
  font-weight: 400;
  width: fit-content;
  background-color: #5f2787;
  border-radius: 10px;
}

.profile2 img {
  border-radius: 100%;
  height: 20vh;
  width: 23vh;
  margin-bottom: 1rem;
}

.profile2 div {
  background-color: pink;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
  border-radius: 1rem;
  width: 250px;
  height: 350px;
}

.profile2 {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  justify-content: center;
}

.profile-container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.contact {
  height: 120vh;
}

.contact form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact input {
  border: 2px solid #5f2787;
  border-radius: 5px;
}

input:active {
  border: 2px solid #5f2787;
  border-radius: 5px;
}

.form-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60vw;
}

.form-div input {
  width: 40vw;
  font-size: x-large;
  outline: none;
}

.form-div label {
  font-size: x-large;
  font-weight: 500;
}

.contact button {
  padding: 0.5rem 1.5rem;
  color: white;
  background-color: rgb(84, 45, 222);
  border-radius: 5px;
}

.about {
  color: white;
  background-color: rgb(100, 100, 100);
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about > div {
  display: flex;
  margin: auto;
  gap: 3rem;
  justify-content: flex-start;
  align-items: flex-start;
}

.about img {
  height: 25px;
  margin: auto;
}

.about > div > div {
  margin-top: 20px;
}

.error {
  color: red;
}

.txtarea {
  border: 2px solid #5f2787;
  border-radius: 5px;
  height: 20vh;
  outline: none;
}
.txtarea:focus,
.form-div input:focus {
  border: 3px solid #5f2787;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
